{% extends "JobBundle:JobProfiler:layout.html.twig" %}

{% block content %}

<h2>Current tasks (-1/+1 hour)</h2>
  {% include 'VVGFilterListBundle::list.html.twig' with {'data': tasksList, 'listName' : 'Tasks'} %}

{% endblock %}