 {% extends "JobBundle:JobProfiler:layout.html.twig" %}

{% block content %}

<h2>Jobs</h2>
  {% include 'VVGFilterListBundle::list.html.twig' with {'data': jobList, 'listName' : 'Jobs'} %}

<br />

<a href="{{ path('JobBundle_parametrage_edit', {'idJob':'new'}) }}">
	<button>
		<i class="icon-plus"></i>
		Add new job
	</button>
</a>
{% endblock %}
