{% extends "JobBundle:JobProfiler:layout.html.twig" %}

{% block content %}
<h2>Job edition : <i>{{ job.getCode() }}</i> </h2>
<form method="post" class="basicForm" action="" {{ form_enctype(form) }}>

	{{ form_widget(form) }}
	
	<br />

	<input type="submit" class="btn"/>
</form>

<script type="text/javascript">
$(document).ready(function(){
	$('select').addClass('span1');
});
</script>
{% endblock %} 